{% extends "layout.html" %}

{% block title %}
    Add Damage
{% endblock %}

{% block main %}

<form action="/add_damage" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="platform" placeholder="Decathlon" type="text">
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="description" placeholder="100KG Dumbbells" type="text">
    </div>
    <div class="form-group">
        <select class="form-control" name="category">
            <option disabled selected value="">Select Category</option>
            
            {% for category in categories %}
                <option>{{category[0]}}</option>
            {% endfor %} 
        </select>
    </div>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="damage" placeholder="$500" type="number">
    </div>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="date" placeholder="2020-05-01" type="date">
    </div>
    
    <div class="form-group"></div>
        <button class="btn btn-primary" type="submit">Add Damage!</button>
    </div>
    
</form>




{% if message %}
<script type="text/javascript">
    alert( '{{message}}' );
</script>
{% endif %}


{% endblock %}